@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Satisfy&display=swap');

h1, h2 {
    text-align: center;
}

#content {
    margin-top: 40px;
}

.remove-tweet,
.remove-tweet:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

li {
    padding: 7px 23px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 48px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.to-do {
    font-family: 'Roboto', sans-serif;
}

.far {
    font-size: 15px;
    position: absolute;
    right: 17px;
    top: 13px
}

.my-button {
    background-color: black!important;
    border-color: black!important;
    color: white!important;
}